---
title: 'Font Aliasing, or How to Rename a Font in CSS'
author: Zach Leatherman
layout: post2
permalink: /rename-font/
postRank: 4
daysPosted: 152
yearsPosted: 0.4
---

This is a teslkjdfklsjfkl  kjsldjfkla

<h1><%= _package.version %></h1>
<h1><%= version %></h1>
<h1><%= title %></h1>

<%- _components.list({items: ["first item", "second item"]}) %>

<%= globaltitle %>
<%= daysPosted %>
<%= permalink %>

